<h1>New Restaurant</h1>
<%= simple_form_for @restaurants do |f| %>
  <%= f.input :name %>
  <%= f.input :address%>
  <%= f.input :phone_number%>
  <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
  <%= f.submit %>
<% end %>

<%= link_to "back to restaurant", restaurants_path  %>
